@font-face {
	font-family: 'Inconsolata';
	src: url('../../data/Inconsolata.ttf');
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	background-color: gray;
	user-select: none;
}

body, button {
	font-family: 'Inconsolata';
}

#menu {
	display: block;
	width: 200px;
	height: calc(100% - 20px);
	position: absolute;
	left: 0;
	top: 0;
	background-color: pink;
	padding: 10px;
}

#canvas {
	position: absolute;
	left: 0;
	top: 0;
}

#open {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
}

#close, #open {
	cursor: pointer;
}

